#menu
{
	position: fixed;
	top:0;
	left:0;
}

.zoom {
	border-radius: 8px;
	transition: transform .2s;
	margin: 0 auto;
}
.zoom:hover {
	transform: scale(1.5);
}
a
{
	color: white;
	text-decoration: none;
	background-color: rgb(155, 10, 29);
}
a:hover{
	background-color: black;
}
body
{
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
	background: rgb(58, 58, 219);
	background-image: url('background.gif');
	background-size: 100%;
}
h1{
	font-style: italic;
	border-style: solid red;
	color:indigo;
}

iframe{
	color: white;
}
section{
	text-align: center;
}
table{
	background-color: black;
}
