#menu
{
	position: fixed;
	height: 70;
	background: rgb(155, 10, 29);
	width: 100%;
	
}
a
{
	font-size: 25;
	color: white;
	text-decoration: none;
	background-color: black;
}
body
{
	background: rgb(58, 58, 219);
}
h1{
	font-style: italic;
	border-style: solid red;
}
img{
	border-radius: 8px;
}